<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menú</span>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="align-icon">add</mat-icon>
        <span>Añadir superheroe</span>
      </a>
      <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="align-icon">search</mat-icon>
        <span>Buscar superheroe</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <div class="container">
    <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>


